 :root {
            /* Light Mode */
            --background-gradient: linear-gradient(to bottom right, rgb(221, 219, 219), #b7c9e2, rgb(221, 219, 219));
            --text-color: #000000;
            --header-background: #36454F;
            --nav-hover-color: #b7c9e2;
            --nav-underline-color: #b7c9e2;
            --logo-color: whitesmoke;
            --nav-link-color: whitesmoke;
            --linechart-color: #36454F;




        }

        body {
            font-family: 'proxima-nova', sans-serif;
            margin: 0;
            background-image: var(--background-gradient);
            color: var(--text-color);
        }

        body.protan-mode {

            --background-gradient: linear-gradient(to bottom right, #a691ae, #e8f086, #a691ae);
            --text-color: #235fa4;
            --header-background: #6fde6e;
            --nav-hover-color: black;
            --nav-underline-color: #b7c9e2;
            --logo-color: whitesmoke;
            --nav-link-color: whitesmoke;

        }

        body.dark-mode {
            --background-gradient: linear-gradient(to bottom right, rgb(105, 104, 104), black, rgb(105, 104, 104));
            --text-color: #c5b358;
            --header-background: #c5b358;
            --nav-hover-color: black;
            --nav-underline-color: #b7c9e2;
            --logo-color: whitesmoke;
            --nav-link-color: whitesmoke;
            --linechart-color: #c5b358;
        }


        header {
            background-color: var(--header-background);
            padding: 1em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            animation: slideInFromTop 1.0s ease-out;
        }


        nav {
            display: flex;
            gap: 1em;
        }

        nav a {
            color: var(--nav-link-color);
            text-decoration: none;
            position: relative;
            padding: 5px 15px;
            font-size: 18px;
            transition: color 0.3s ease;
        }

        nav a:hover {
            color: var(--nav-hover-color);
        }

        nav a::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background-color: var(--nav-underline-color);
            transition: width 0.3s ease;
        }

        nav a:hover::after {
            width: 100%;
        }

        #logo {
    color: var(--logo-color);
    text-decoration: none;
    position: relative;
    padding: 5px 15px;
    font-size: 35px;
    transition: color 0.3s ease;
}

        footer {
            background-color: var(--header-background);
            padding: 1em;
            text-align: center;
            color: whitesmoke;
            animation: slideInFromLeft 1.0s ease-out;
        }




        footer a {
            color: var(--nav-link-color);
            text-decoration: none;
            position: relative;
            padding: 5px 15px;
            font-size: 18px;
            transition: color 0.3s ease;
        }

        footer a:hover {
            color: var(--nav-hover-color);
        }

        footer a::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background-color: var(--nav-underline-color);
            transition: width 0.3s ease;
        }

        footer a:hover::after {
            width: 100%;
        }


        .footer-links,
        .social-media {
            display: flex;
            justify-content: center;
            gap: 1em;
        }

        .footer-links a,
        .social-media a {
            color: var(--header-text-color);
            text-decoration: none;
        }

        .social-media {
            display: flex;
            justify-content: center;
            gap: 1em;
        }

        .social-media a {
            display: block;
            width: 32px;
            height: 32px;
        }

        .social-media img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }














        .search-wrapper {
            position: relative;
            display: inline-block;
            margin-right: 1em;
        }

        .search-wrapper input {
            border: none;
            outline: none;
            padding: 10px 30px 10px 10px;
            border-radius: 20px;
            width: 200px;
        }

        .search-wrapper button {
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            background: none;
            border: none;
            cursor: pointer;
            padding: 5px;
        }

        .search-wrapper button img {
            width: 20px;
            height: 20px;
        }

        .analytics-container {
            padding: 2em;
            animation: slideInFromLeft 1.0s ease-out;
        }

        .stats {
            margin-bottom: 1em;
        }

        .chart-container {
            margin-top: 2em;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            animation: slideInFromRight 1.0s ease-out;
        }

        .chart {
            width: 45%;
            min-width: 300px;
            margin-bottom: 1em;
            animation: slideInFromLeft 1.0s ease-out;
        }

        @media (max-width: 768px) {
            .chart {
                width: 100%;
            }
        }

        button {
            background-color: #36454F;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out, transform 0.2s;
            border-radius: 5px;
        }

        button:hover {
            background-color: #FF5E5E;
            transform: translateY(-2px);
        }

        
        .profile-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    top: 75px; 
    right: 0;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #575757;
}
.profile-dropdown:hover .dropdown-content {
    display: block;
}

.profile-icon {
    width: 75px;
    height: 75px;
}

.profile-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.profile-icon img:hover {
    transform: scale(1.1);
}













        /* Add this to both HTML files */
        .fade-out {
            opacity: 0;
            transition: opacity 0.5s ease-out;
        }

        .fade-in {
            opacity: 1;
            transition: opacity 0.5s ease-in;
        }



        /* Keyframes for sliding the navbar in from the left */
        @keyframes slideInFromLeft {
            0% {
                transform: translateX(-100%);
                opacity: 0;
            }

            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

        @keyframes slideInFromRight {
            from {
                transform: translateX(100%);
                /* Start off-screen to the right */
            }

            to {
                transform: translateX(0);
                /* End at its original position */
            }
        }



        @keyframes slideInFromTop {
            from {
                transform: translateY(-100%);
                /* Start off-screen above */
            }

            to {
                transform: translateY(0);
                /* End at its original position */
            }
        }

        @keyframes slideInFromBottom {
            from {
                transform: translateY(100%);
                /* Start off-screen below */
            }

            to {
                transform: translateY(0);
                /* End at its original position */
            }
        }