:root
       {

    --background-gradient: linear-gradient(to bottom right, rgb(221, 219, 219), #b7c9e2, rgb(221, 219, 219));
    --text-color: #000000;
    --header-background: #36454F;
    --nav-hover-color: #b7c9e2;
    --nav-underline-color: #b7c9e2;
    --logo-color: whitesmoke;
    --nav-link-color: whitesmoke;
    --nav-text-color: black;
    --model-background-color:whitesmoke;
    /* --hover-color:#e1daae; Code for brown hover text */
}

body
 {
            font-family: 'proxima-nova', sans-serif;
            margin: 0;
            background-image: var(--background-gradient);
            color: var(--text-color);
            opacity: 1;
            transition: opacity 0.5s ease-in-out;
        }

        body.fade-out
         {
            opacity: 0;
        }




        body.protan-mode{
   
    --background-gradient: linear-gradient(to bottom right, #a691ae, #e8f086,#a691ae);
    --text-color: #235fa4;
    --header-background:#6fde6e ;
    --nav-hover-color: black;
    --nav-underline-color: #b7c9e2;
    --logo-color: whitesmoke;
    --nav-link-color: whitesmoke;
    --model-background-color:#6fde6e;

}



body.deuter-mode{
   
   --background-gradient: linear-gradient(to bottom right, #2d3043, #2f88dc,#2d3043);
   --text-color: black;
   --header-background:#e89f43 ;
   --nav-hover-color: black;
   --nav-underline-color: #b7c9e2;
   --logo-color: whitesmoke;
   --nav-link-color: whitesmoke;
   --model-background-color:#e89f43;

}

body.dark-mode {
   
    --background-gradient: linear-gradient(to bottom right, rgb(105, 104, 104), black, rgb(105, 104, 104));
    --text-color: #c5b358;
    --header-background:#c5b358 ;
    --nav-hover-color: whitesmoke;
    --nav-underline-color: #b7c9e2;
    --logo-color: black;
    --nav-link-color: black;
    --model-background-color:black;
}




header {
    background-color: var(--header-background);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: slideInFromLeft 1.0s ease-out;
}


nav {
    display: flex;
    gap: 1em;
    animation: slideInFromLeft 1.0s ease-out;

}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    position: relative;
    padding: 5px 15px;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--nav-hover-color);
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--nav-underline-color);
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

#logo {
    color: var(--logo-color);
    text-decoration: none;
    position: relative;
    padding: 5px 15px;
    font-size: 35px;
    transition: color 0.3s ease;
}


footer {
            background-color: var(--header-background);
            padding: 1em;
            text-align: center;
            color: whitesmoke;
            animation: slideInFromLeft 1.0s ease-out;
        }


        

footer a {
    color: var(--nav-link-color);
    text-decoration: none;
    position: relative;
    padding: 5px 15px;
    font-size: 18px;
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--nav-hover-color);
}

footer a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--nav-underline-color);
    transition: width 0.3s ease;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
h2 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
h4 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.search-results-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 300px;
    overflow-y: auto;
    width: 400px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-result-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.search-result-item:hover {
    background-color: #f1f1f1;
}

.search-result-img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    margin-right: 10px;
}

footer a:hover::after {
    width: 100%;
}



        .hero {
            text-align: center;
            padding: 2em 1em;
        }

        .carousel,
        .section {
            text-align: center;
            padding: 2em 1em;
        }

        .carousel {
            display: flex;
            overflow-x: auto;
            gap: 1em;
            padding: 1em 2em;
            max-width: 100%;
        }

        .carousel::-webkit-scrollbar,
        .section::-webkit-scrollbar {
            display: none;
        }

        .podcast-item {
            min-width: 200px;
            cursor: pointer;
            text-align: center;
            padding: 0.5em;
            margin: 0.5em 1.5em;
            position: relative;
            transition: transform 0.3s ease;
        }

        .podcast-item:hover {
            transform: scale(1.05);
            z-index: 5;
        }

        .podcast-item img {
            width: 100%;
            border-radius: 10px;
        }

        .podcast-description {
            display: none;
            position: absolute;
            top: 0;
            left: 110%;
            width: 250px;
            max-height: 300px;
            overflow-y: auto;
            background-color: #36454F;
            color: whitesmoke;
            padding: 15px;
            border-radius: 10px;
            z-index: 10;
            text-align: left;
            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
            border: 1px solid #b7c9e2;
            font-size: 0.9em;
        }

        .podcast-description h4 {
            margin-top: 0;
            color: #b7c9e2;
            border-bottom: 1px solid #b7c9e2;
            padding-bottom: 5px;
            margin-bottom: 10px;
        }

        .podcast-description p {
            margin: 0;
            line-height: 1.4;
        }

        .podcast-description::-webkit-scrollbar {
            width: 8px;
        }

        .podcast-description::-webkit-scrollbar-track {
            background: #36454F;
        }

        .podcast-description::-webkit-scrollbar-thumb {
            background-color: #b7c9e2;
            border-radius: 4px;
        }

        @media (max-width: 1200px) {
            .podcast-description {
                left: auto;
                right: 110%;
            }
        }

        .podcast-item:hover .podcast-description {
            display: block;
        }

     

        .footer-links,
        .social-media {
            display: flex;
            justify-content: center;
            gap: 1em;
        }

        .footer-links a,
        .social-media a {
            color: whitesmoke;
            text-decoration: none;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            border-radius: 10px;
            padding: 2em;
            background: #fff;
            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
            position: relative;
            margin: 10% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 600px;
            border-radius: 10px;
            position: relative;
            max-height: 70vh;
            overflow-y: auto;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .show-more-btn {
            background-color: #FF9494;
            color: #000;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            margin: 20px auto;
            display: block;
        }

        .social-media {
            display: flex;
            justify-content: center;
            gap: 1em;
        }

        .social-media a {
            display: block;
            width: 32px;
            height: 32px;
        }

        .social-media img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }

        .search-results {
            max-height: 400px;
            overflow-y: auto;
            padding: 1em;
        }

        .play-button-image {
            display: inline-block;
            margin-left: 50px; 
            margin-top: -20000px;
        }

        .play-button {
            width: 200px; 
            height: 200px; 
            cursor: pointer;
            transition: transform 0.2s;
        }

        .play-button:hover {
            transform: scale(1.1); 
            color: #36454F;
        }

        .search-results .podcast-item {
            display: flex;
            gap: 1em;
            padding: 1em 0;
            border-bottom: 1px solid #ccc;
        }

        .search-results .podcast-item img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 5px;
        }

        .search-wrapper {
            display: flex;
            align-items: center;
            background-color: #fff;
            border-radius: 20px;
            padding: 5px;
        }

        .search-wrapper input {
            border: none;
            outline: none;
            flex: 1;
            padding: 10px;
            border-radius: 20px;
        }

        .search-wrapper button {
            background: none;
            border: none;
            cursor: pointer;
            padding: 5px;
        }

        .search-wrapper button img {
            width: 30px;
            height: 30px;
        }

        .heart-icon {
            font-size: 24px;
            cursor: pointer;
            color: black;
            transition: color 0.3s;
            margin-left: 10px;
            fill: none;
        }

        .heart-icon.filled {
            color: #FF0000;
            fill: currentColor;
        }

        .heart-icon:hover{
            color: #FF0000;
        }

        .profile-icon {
            width: 75px;
            height: 75px;
        }

        .profile-icon img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        .profile-icon {
    cursor: pointer; /* Makes the cursor a pointer to indicate it's clickable */
}

.profile-icon img {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for the hover effects */
}

.profile-icon:hover img {
    transform: scale(1.1); /* Slightly enlarges the profile image */
    box-shadow: 0px 4px 10px rgba(125, 149, 151, 0.288); /* Adds a shadow effect */
}

.profile-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    top: 75px; 
    right: 0;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #575757;
}

/* Show dropdown on hover */
.profile-dropdown:hover .dropdown-content {
    display: block;
}

        .modal-header {
            display: flex;
            align-items: center;
        }

        .modal-header h2 {
            margin: 0;
        }

        .fixed-player {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #FFFFFF;
            border-top: 1px solid #FF9494;
            box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
            display: none;
            z-index: 1000;
        }

        .add-to-playlist-icon {
            font-size: 24px;
            cursor: pointer;
            color: black;
            transition: color 0.3s;
            margin-left: 10px;
        }

        .dice-button {
            display: inline-block;
            font-size: 24px;
            cursor: pointer;
            transition: transform 0.3s ease;
            transform: rotate(0deg);
        }

        .dice-button:hover {
            animation: rollDice 0.5s forwards;
        }

        @keyframes rollDice {
            0% { transform: rotate(0deg); }
            25% { transform: rotate(90deg); }
            50% { transform: rotate(180deg); }
            75% { transform: rotate(270deg); }
            100% { transform: rotate(360deg); }
        }

        .add-to-playlist-icon:hover {
            color: #00BFFF; 
        }

        .playlist-option {
            margin-bottom: 15px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .playlist-option h3 {
            margin-top: 0;
        }

        .playlist-option button {
            background-color: #FF9494;
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            border-radius: 3px;
        }

        .playlist-option button:hover {
            background-color: #FF7070;
        }



            
        #scrollToTopBtn {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 50px; /* Adjust the size as needed */
        height: 50px; /* Adjust the size as needed */
        background-image: url('Curved Top No BckGrnd.png'); /* Your image path */
        background-size: cover;
        background-position: center;
        border: none;
        display: none; /* Initially hidden */
        cursor: pointer;
    }

    #scrollToTopBtn:hover {
        opacity: 0.8; /* Optional hover effect */
    }




/* Add this to both HTML files */
.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}



.moving-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  
}

.moving-text {
  display: inline-block;
  animation: moveText 40s linear infinite;
  white-space: nowrap; /* Prevents wrapping */
  max-width: 100%; /* Ensures the text stays in one line */
  max-height: fit-content;
  --text-color: black;
  
}


.text-bar{
    size: 30px;

}







.profile-icon {
            width: 75px;
            height: 75px;
        }

        .profile-icon img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        /* Profile icon hover effect */
.profile-icon {
    cursor: pointer; /* Makes the cursor a pointer to indicate it's clickable */
}

.profile-icon img {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for the hover effects */
}

.profile-icon:hover img {
    transform: scale(1.1); /* Slightly enlarges the profile image */
    box-shadow: 0px 4px 10px rgba(125, 149, 151, 0.288); /* Adds a shadow effect */
}

.profile-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    top: 75px; 
    right: 0;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #575757;
}

/* Show dropdown on hover */
.profile-dropdown:hover .dropdown-content {
    display: block;
}




@keyframes moveText {
  0% {
    transform: translateX(100%); /* Start just outside the right edge */
  }
  2% {
    transform: translateX(95%); /* Bring it into view almost immediately */
  }
  100% {
    transform: translateX(-100%); /* Move to outside the left edge */
  }
}













/* Keyframes for sliding the navbar in from the left */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%); /* Start off-screen to the right */
    }
    to {
        transform: translateX(0); /* End at its original position */
    }
}

/* Apply the animation to the navbar */




@keyframes slideInFromTop {
    from {
        transform: translateY(-100%); /* Start off-screen above */
    }
    to {
        transform: translateY(0); /* End at its original position */
    }
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(100%); /* Start off-screen below */
    }
    to {
        transform: translateY(0); /* End at its original position */
    }
}
.video-item {
    width: 30%; /* Adjusts the width of each video item */
    margin: 10px; /* Adds some space around each video item */
    display: inline-block;
    vertical-align: top;
}

.video-item video {
    width: 100%; /* Makes the video take up the full width of the video item */
    height: auto; /* Keeps the video aspect ratio intact */
}

.video-item h3, 
.video-item p {
    text-align: center; /* Centers the text below the video */
    font-size: 0.9em; /* Adjusts the font size to match the smaller video */
}