html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
    }

    .main-content {
      flex: 1;
      /* Ensures that the main content takes up the remaining space */
    }

    :root {

      --background-gradient: linear-gradient(to bottom right, rgb(221, 219, 219), #b7c9e2, rgb(221, 219, 219));
      --text-color: #000000;
      --header-background: #36454F;
      --nav-hover-color: #b7c9e2;
      --nav-underline-color: #b7c9e2;
      --logo-color: whitesmoke;
      --nav-link-color: whitesmoke;
      --nav-text-color: black;
      --model-background-color: whitesmoke;
      /* --hover-color:#e1daae; Code for brown hover text */
    }

    body {
      font-family: 'proxima-nova', sans-serif;
      margin: 0;
      background-image: var(--background-gradient);
      color: var(--text-color);
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
    }

    body.fade-out {
      opacity: 0;
    }




    body.protan-mode {

      --background-gradient: linear-gradient(to bottom right, #a691ae, #e8f086, #a691ae);
      --text-color: #235fa4;
      --header-background: #6fde6e;
      --nav-hover-color: black;
      --nav-underline-color: #b7c9e2;
      --logo-color: whitesmoke;
      --nav-link-color: whitesmoke;
      --model-background-color: #6fde6e;

    }



    body.deuter-mode {

      --background-gradient: linear-gradient(to bottom right, #2d3043, #2f88dc, #2d3043);
      --text-color: black;
      --header-background: #e89f43;
      --nav-hover-color: black;
      --nav-underline-color: #b7c9e2;
      --logo-color: whitesmoke;
      --nav-link-color: whitesmoke;
      --model-background-color: #e89f43;

    }

    body.dark-mode {

      --background-gradient: linear-gradient(to bottom right, rgb(105, 104, 104), black, rgb(105, 104, 104));
      --text-color: #c5b358;
      --header-background: #c5b358;
      --nav-hover-color: whitesmoke;
      --nav-underline-color: #b7c9e2;
      --logo-color: black;
      --nav-link-color: black;
      --model-background-color: black;
    }




    header {
      background-color: var(--header-background);
      padding: 1em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      animation: slideInFromLeft 1.0s ease-out;
    }


    nav {
      display: flex;
      gap: 1em;
      animation: slideInFromLeft 1.0s ease-out;

    }

    nav a {
      color: var(--nav-link-color);
      text-decoration: none;
      position: relative;
      padding: 5px 15px;
      font-size: 18px;
      transition: color 0.3s ease;
    }

    nav a:hover {
      color: var(--nav-hover-color);
    }

    nav a::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: var(--nav-underline-color);
      transition: width 0.3s ease;
    }

    nav a:hover::after {
      width: 100%;
    }

    .logo {
      color: var(--logo-color);
      text-decoration: none;
      position: relative;
      padding: 5px 15px;
      font-size: 35px;
      transition: color 0.3s ease;
    }

    footer {
      background-color: var(--header-background);
      padding: 1em;
      text-align: center;
      color: whitesmoke;
      animation: slideInFromLeft 1.0s ease-out;
    }




    footer a {
      color: var(--nav-link-color);
      text-decoration: none;
      position: relative;
      padding: 5px 15px;
      font-size: 18px;
      transition: color 0.3s ease;
    }

    footer a:hover {
      color: var(--nav-hover-color);
    }

    footer a::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: var(--nav-underline-color);
      transition: width 0.3s ease;
    }

    footer a:hover::after {
      width: 100%;
    }

#logo {
    color: var(--logo-color);
    text-decoration: none;
    position: relative;
    padding: 5px 15px;
    font-size: 35px;
    transition: color 0.3s ease;
}

.social-media {
            display: flex;
            justify-content: center;
            gap: 1em;
        }

        .social-media a {
            display: block;
            width: 32px;
            height: 32px;
        }

        .social-media img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }


.hero {
    text-align: center;
    padding: 2em 1em;
}

.carousel, .section {
    margin: 2em 0;
}

.carousel, .section {
    display: flex;
    overflow-x: auto;
    gap: 1em;
    padding: 0 1em;
}

.carousel::-webkit-scrollbar, .section::-webkit-scrollbar {
    display: none;
}

.podcast-item {
    min-width: 200px;
    cursor: pointer;
}

.podcast-item img {
    width: 100%;
    border-radius: 10px;
}

.footer-links, .social-media {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.footer-links a, .social-media a {
    color: var(--header-text-color);
    text-decoration: none;
}

.social-media a:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 600px;
    border-radius: 10px;
    position: relative;
    animation: slideInFromLeft 1.0s ease-out;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.show-more-btn {
    background-color: white;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px auto;
    display: block;
}

.profile-icon {
    width: 75px;
    height: 75px;
}

.profile-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.profile-icon img:hover {
    transform: scale(1.1);
}

.profile-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    top: 75px; 
    right: 0;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #575757;
}
.profile-dropdown:hover .dropdown-content {
    display: block;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

#Submit {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

#Submit:hover {
    background-color: #333;
}

input[type="text"], textarea {
    border: 2px solid var(--header-background);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
    background-color: #f8f8f8;
}

input[type="text"]:focus, textarea:focus {
    border-color: var(--nav-hover-color);
    outline: none;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

/* Utility Classes */
.center {
    display: flex;
    
    align-items: center;
}

.full-width {
    width: 100%;
}

.padding-10 {
    padding: 20px;
}

/* Upload Section Styling */
.upload-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 60vh;
    padding: 10px; /* Optional: to match header */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#videoForm {
    width: 100%;
    max-width: 700px; /* Limit the width of the form */
    background-color: var(--footer-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#videoForm h2 {
    text-align: center;
    color: var(--logo-color);
    margin-bottom: 5px;
}

#videoForm label {
    display: block;
    margin-bottom: 5px;
    color: var(--logo-color);
}

#videoForm input[type="file"], #videoForm input[type="text"], #videoForm textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 5px;
    border: 2px solid var(--header-background);
    border-radius: 5px;
    background-color: #f8f8f8;
}

#videoForm button {
    background-color: #FF9494;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

#videoForm button:hover {
    background-color: #e57373;
}



/* Keyframes for sliding the navbar in from the left */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .form-container {
        padding: 20px;
    }

    header, footer {
        flex-direction: column;
        text-align: center;
    }

    nav {
        flex-direction: column;
    }

    .logo {
        font-size: 28px;
    }
}
